.cart__container {
  display: flex;
  flex-direction: column;
  width: 377px;
  min-height: 340px;

  position: absolute;
  right: -167px;
  top: 100px;

  background-color: var(--color-white);
  border-radius: 8px;
  padding: 2rem;
}

.cart__header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--color-light-gray);
  padding-bottom: 1rem;
}

.cart__header h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
}

.cart__header p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  margin-left: auto;
}

.cart__header p:hover {
  cursor: pointer;
  color: var(--color-dark-orange);
  text-decoration: underline;
}

.cart-total {
  display: flex;
  flex-direction: row;
  width: 308px;
  height: 25px;
  margin-top: 1.5rem;
}

.cart-total h3 {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  opacity: 0.8;
}

.cart-total p {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-left: auto;
}

.cart__container button {
  width: 313px;
  height: 48px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-dark-orange);
  border-style: none;
  margin-top: 1.5rem;
}

.cart__container button:hover {
  cursor: pointer;
  background-color: var(--color-pale-orange);
}
