.categoryProductRight__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 8em;
}

.categoryProductRight__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1110px;
  height: 560px;
}

.categoryProductRight__container img {
  width: 540px;
  height: 560px;
  border-radius: 8px;
}

.categoryProductRight__content {
  display: flex;
  flex-direction: column;
  width: 445px;
  height: 400px;
  margin-right: 9rem;
  gap: 2rem;
}

.categoryProductRight__content-product-name {
  width: 450px;
  height: 120px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 1.42857px;
  text-transform: uppercase;
}

.categoryProductRight__content p {
  height: 445px;
  height: 110px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.7;
}

.categoryProductRight__content button {
  width: 160px;
  height: 48px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: var(--color-dark-orange);
  color: var(--color-white);
  border-style: none;
}

.categoryProductRight__content button:hover {
  cursor: pointer;
  background-color: var(--color-pale-orange);
}
