.ZX9Speaker__wrapper {
  display: flex;
  justify-content: center;
}

.ZX9Speaker__container {
  position: relative;
  width: 1110px;
  height: 550px;
  border-radius: 8px;
  background-color: var(--color-dark-orange);
  overflow: hidden;
  margin-top: 2rem;
}

.ZX9Speaker__container img {
  width: 380px;
  height: 460px;
  position: absolute;
  left: 140px;
  top: 105px;
  z-index: 100;
}

.ZX9Speaker-content {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 303px;
  color: var(--color-white);
  gap: 2rem;

  position: absolute;
  left: 650px;
  top: 120px;
  z-index: 10;
}

.ZX9Speaker-content h3 {
  font-weight: 700;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
}

.ZX9Speaker-content p {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.8;
}

.ZX9Speaker-content button {
  width: 160px;
  height: 48px;
  background-color: var(--color-black);
  color: var(--color-white);
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  border-style: none;
}

.ZX9Speaker-content button:hover {
  cursor: pointer;
  background-color: rgb(66, 66, 66);
}

.ZX9Speaker-circles img {
  width: 900px;
  height: 900px;

  position: absolute;
  left: -120px;
  top: -10px;
  z-index: 1;
}
